# Python
__pycache__/
*.pyc
.venv/
venv/
.pytest_cache/
.ipynb_checkpoints/

# Raw downloads are re-created by `python -m src.data`
data/raw/*
!data/raw/.gitkeep

# OS / editor
.DS_Store
.vscode/
.idea/
